<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
    <div class="gf-form-inline">
        <label class="gf-form-label width-12">SQL</label>
        <div class="gf-form max-width-30">
            <input class="gf-form-input" ng-model="ctrl.target.sql" spellcheck="false"
                   ng-blur="ctrl.onChangeInternal()"/>
        </div>
    </div>
    <div class="gf-form-inline">
        <label class="gf-form-label width-12">Offset</label>
        <div class="gf-form max-width-30">
            <input class="gf-form-input" ng-model="ctrl.target.offset" spellcheck="false"
                   ng-blur="ctrl.onChangeInternal()"/>
        </div>
    </div>
    <div class="gf-form-inline">
        <label class="gf-form-label width-12">Limit</label>
        <div class="gf-form max-width-30">
            <input class="gf-form-input" ng-model="ctrl.target.limit" spellcheck="false"
                   ng-blur="ctrl.onChangeInternal()"/>
        </div>
    </div>
    <div class="gf-form-inline">
        <label class="gf-form-label width-12">Project</label>
        <div class="gf-form max-width-30">
            <input class="gf-form-input" ng-model="ctrl.target.project" spellcheck="false"
                   ng-blur="ctrl.onChangeInternal()"/>
        </div>
    </div>
    <div class="gf-form-inline">
        <label class="gf-form-label width-12">AcceptPartial</label>
        <div class="gf-form max-width-30">
            <select class="gf-form-input" ng-model="ctrl.target.acceptPartial"
                    ng-options="f as f for f in [true, false]"></select>
        </div>
    </div>
</query-editor-row>
